{{ $filesdir := .Filenames  }}

<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ .Dirname }}</title>
		<style>
				.title {
					/*font-family: ;*/
					border-top: 50px;
					border-bottom: 50px;
				}
			
				li {
					list-style-type: none;
				}			
		
				.file {
					/*text-decoration: none;
					color: black;*/
					font-size: 1.1rem;
				}

				.thumbnail {
					border-top: 50px;
					border-bottom: 50px;
				}
		</style>
	</head>

	<body>
		<h1 class="title"><i>Directory of {{ .Dirname }}</i></h1>

		<!-- Select Layouts  -->
		<form action="/{{.Dirname}}" method="POST">
			{{if .Thumbnails}}
				<input type="submit" value="Disable Image Thumbnails" />
				<input type="hidden" id="thumbnails" name="thumbnails" value="false" />
			{{else}}
				<input type="submit" value="Enable Image Thumbnails" />
				<input type="hidden" id="thumbnails" name="thumbnails" value="true" />
			{{end}}
		</form>
		
		<!-- Display -->

		<ul>
		{{/* }}
		{{if ne .Dirname "/"}}
			<li>
				<a class="file" href="/{{.Dotdot}}">..</a>
			</li>
		{{end}}
		{{ */}}

		{{ if .Thumbnails }}
			{{range $fileindex, $fileinfo := $filesdir }}
				{{$filename := ""}}
				{{if $fileinfo.Dir }}
					{{$filename = (printf "%s/" $fileinfo.Name)}}
				{{else}}
					{{$filename = $fileinfo.Name}}
				{{end}}				

				{{if or ( eq $fileinfo.Ext "png" ) ( eq $fileinfo.Ext "jpg" )}}
					<li>
						<a class="link" href="{{$filename}}">
							<img class="thumbnail" src="{{$filename}}" alt="{{$filename}}" width="250" >
						</a>
					</li>
				{{else}}
					<li>
						<a class="link" href="{{$filename}}">
							<p class="file">{{$filename}}</p>
						</a>
					</li>
				{{end}}
			{{end}}
			
		{{else}}
			{{range $fileindex, $fileinfo := $filesdir }}
				{{$filename := ""}}
				{{if $fileinfo.Dir }}
					{{$filename = (printf "%s/" $fileinfo.Name)}}
				{{else}}
					{{$filename = $fileinfo.Name}}
				{{end}}	
							
				<li>
					<a class="file" href="{{$filename}}">{{$filename}}</a>
				</li>
			{{end}}
			
		{{end}}
		</ul>
	</body>

</html>
